TRAIDOTRES MALDITOS ESTO LES VA A PESAR
DEPENDants
/\NODE_MODULES
/\PNP
\PNP.*
\YARN/*
\YARN/\PATCHES
\YARN/\PLUGINS
\YARN/\RELEASES
\YARN/\VERSIONS

\TESTING
\COVERAGE

 \NEXT.JS
\NEXT


\PRODUCTION
\BUILD

 \MISC
\DS-STORE
\PEM

\DEBUG
\NPM-DEBUG LOG
\YARN-DEBUG LOG
\YARN-ERROR LOG
\PNPM-DEBUG LOG

\TYPESCRIPT
\FIRESTORE-DEBUG LOG
